html {
    font-size: 1px;
}

body {
    font: var(--header-font);
    background-color: var(--color-black-19);
    color: var(--color-white);
}

.container {
    width: 100%;
    max-width: 1680rem;
    margin: 0 auto;
}

.logo {
    max-width: 328rem;
}

.wrapper {
    overflow: hidden;
}