@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Montserrat:wght@300;500;600&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,600;8..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Red+Hat+Display:wght@400;500&display=swap");
:root {
  --color-black-00: #000000;
  --color-black-02: #020202;
  --color-black-19: #191919;
  --color-black-1E: #1E1E1E;
  --color-black-0A: #0A0A0A;
  --color-dark-grey-3D: #3D3C38;
  --color-dark-grey-41: #414141;
  --color-dark-grey-2C: #2C2C2C;
  --color-light-grey-D9: #D9D9D9;
  --color-light-grey-E3: #E3E3E3;
  --color-light-grey-B3: #B3B3B3;
  --color-white: #FFFFFF;
  --color-green: #8DCD43;
  --color-olive-green: #8CCC43;
  --color-yellow-green: #DBFF00;
  --color-sand: #E3BD34;
}

:root {
  --inter-font: "Inter", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
  --roboto-font: "Roboto Flex", sans-serif;
  --button-font: 400 20rem/normal var(--inter-font);
  --header-info-font: 600 14rem/normal var(--roboto-font);
  --header-menu-font: 400 12rem/normal var(--inter-font);
  --heading-title-font: 600 54rem/normal var(--montserrat-font);
  --heading-sub-title-font: 300 12rem/normal var(--inter-font);
  --heading-mobile-title-font: 600 30rem/normal var(--montserrat-font);
  --heading-mobile-sub-title-font: 300 28rem/normal var(--inter-font);
  --bestseller-font: 600 32rem/normal var(--roboto-font);
  --innovations-title-font: 600 48rem/normal var(--montserrat-font);
  --innovations-sub-title-font: 300 48rem/normal var(--montserrat-font);
  --innovations-description-font: 200 22rem/normal var(--roboto-font);
  --innovations-items-title-font: 600 24rem/normal var(--roboto-font);
  --innovations-items-text-font: 200 22rem/normal var(--roboto-font);
  --characteristics-title-font: 600 18rem/normal var(--roboto-font);
  --characteristics-text-font: 200 16rem/normal var(--roboto-font);
  --characteristics-mobile-title-font: 600 12rem/normal var(--roboto-font);
  --characteristics-mobile-text-font: 200 12rem/normal var(--roboto-font);
  --characteristics-button-font: 400 16rem/normal var(--roboto-font);
  --advantages-title-font: 600 48rem/normal var(--montserrat-font);
  --advantages-card-title-font: 600 24rem/normal var(--roboto-font);
  --advantages-card-text-font: 200 22rem/normal var(--roboto-font);
  --advantages-mobile-title-font: 600 30rem/normal var(--montserrat-font);
  --advantages-card-mobile-title-font: 600 19rem/normal var(--roboto-font);
  --advantages-card-mobile-text-font: 200 16rem/normal var(--roboto-font);
  --for-all-title-font: 600 48rem/normal var(--montserrat-font);
  --for-all-thin-title-font: 300 48rem/normal var(--montserrat-font);
  --for-all-box-title: 600 24rem/normal var(--roboto-font);
  --for-all-box-text: 200 22rem/normal var(--roboto-font);
  --for-all-mobile-title-font: 300 28rem/normal var(--montserrat-font);
  --for-all-mobile-thin-title-font: 300 18rem/normal var(--montserrat-font);
  --services-title-font: 600 48rem/normal var(--montserrat-font);
  --services-box-title-font: 700 32rem/normal var(--roboto-font);
  --services-box-text-font: 200 22rem/normal var(--roboto-font);
  --services-mobile-title-font: 300 28rem/normak var(--montserrat-font);
  --reviews-title-font: 600 48rem/normal var(--montserrat-font);
  --reviews-box-text-font: 200 22rem/normal var(--roboto-font);
  --reviews-box-name-font: 600 24rem/normal var(--montserrat-font);
  --reviews-box-position-font: 500 18rem/normal var(--montserrat-font);
  --consult-title-font: 600 48rem/normal var(--montserrat-font);
  --consult-sub-title-font: 200 22rem/normal var(--roboto-font);
  --consult-label-font: 700 32rem/normal var(--roboto-font);
  --consult-input-font: 300 24rem/normal var(--roboto-font);
  --footer-nav-font: 400 12rem/normal var(--inter-font);
  --footer-info-font: 600 14rem/normal var(--roboto-font);
}

html {
  font-size: 1px;
}

body {
  font: var();
}

.container {
  margin: 0 auto;
}

.logo {
  max-width: 328rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
